[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
mypy = "*"
pycodestyle = "*"
autopep8 = "*"

[packages]
PySimpleGUI = "*"
"RPi.GPIO" = {version = "*",platform_machine = "=='armv6l'"}
astropy = "*"
gpiozero = "*"

[requires]
python_version = "3.7"
